@import "./Home.css";
@import "./RecipeIndex.css";
@import "./Pantry.css";
@import "./AboutUs.css";
@import "./NotFound.css";
@import "bootstrap";
@import "./DeviceForms.css";

h1 {
  font-family: "Bangers", cursive;
}
h2 {
  font-family: "Roboto", sans-serif;
}

html,
body {
  height: 100%;
}
