#footer-bg {
  width: 100%;
  background-image: url("https://images.pexels.com/photos/137118/pexels-photo-137118.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
  position: relative;
  background-size: cover;
  background-position: center;
  height: 90vh;
}
